@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.symbols {
    display: none; /* Esconde o elemento visualmente */
}

.back {
    background-image: url('https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* imagem livre de banco de dados */
}

/* Estilos básicos para a página */
body {
    background-color: #1f2429; /* Fundo */ 
    color: #f0f0f0; /* Texto claro */
    font-family: 'Arial', sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margem padrão do body */
    padding: 0; /* Remove padding padrão do body */
    position: relative; /* Necessário para posicionar elementos absolutamente dentro do body */
    box-sizing: border-box; /* Inclui padding e borda na largura e altura total */
}

/* Nome animado como logo */
.logo-container {
    text-align: center; /* Centraliza o texto horizontalmente */
    height: 70px; /* Altura fixa para evitar alterações no layout */
    overflow: hidden; /* Garante que o texto não ultrapasse o contêiner */
    margin-bottom: 40px;
}

.logo {
    padding: 30px;
    font-family: "VT323", monospace;
    font-size: 46px; /* Tamanho da fonte */
    color: #f0f0f0; /* Cor do texto */
    white-space: nowrap; /* Impede quebra de linha */
    display: inline-block; /* Impede quebra de linha e permite definir tamanho */
    
}

/* Contêiner do menu */
.menu-container {
    padding: 10px 0; /* Espaçamento interno */
    width: 100%; /* Largura total */
    position: relative; /* Necessário para posicionar os ícones no canto superior direito */
    text-align: center; /* Centraliza o texto do menu */
    margin-bottom: 50px; /* Espaçamento abaixo do menu */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
    max-width: 100%; /* Garante que não exceda a largura da tela */
    justify-content: center;
}

/* Sobreposição com fade do menu */
.menu-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Fundo preto com opacidade 0.8 */
    z-index: 1; /* Coloca a sobreposição acima da imagem */
}

/* Estilo do menu */
.menu {
    display: flex; /* Usa flexbox para alinhar itens */
    justify-content: center; /* Centraliza o menu horizontalmente */
    align-items: center; /* Alinha itens verticalmente ao centro */
    padding: 10px 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui padding na largura total */
}

/* Estilo dos links do menu */
.menu a {
    color: #ffffff; /* Cor do texto claro */
    text-decoration: none; /* Remove sublinhado dos links */
    margin: 0 15px; /* Margem horizontal de 15px */
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    z-index: 2; /* Coloca o texto acima da sobreposição */
    
}

.menu a:hover {
    color: #00aaff
}

/* Posicionamento dos símbolos de tema e idioma */
.symbols {
    position: absolute; /* Posiciona no canto superior direito */
    top: 10px; /* Alinha ao topo */
    right: 20px; /* Alinha à direita */
}

.symbols span {
    cursor: pointer; /* Indica que é clicável */
    margin-left: 15px; /* Margem à esquerda dos símbolos */
}

/* Seção de início */
.section {
    position: relative; /* Para posicionar o banner dentro da seção */
    margin-bottom: 50px; /* Adiciona espaço abaixo da seção */
}

/* Estilo da banner */
.banner {
    position: relative; /* Necessário para a sobreposição */
    background-size: cover; /* Cobre toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    color: #f0f0f0; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    margin-bottom: 80px;
}

/* Sobreposição com fade */
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Fundo preto com opacidade 0.8 */
    z-index: 1; /* Coloca a sobreposição acima da imagem */
}

/* Título dentro da banner */
.banner h2 {
    position: relative; /* Para garantir que o z-index funcione */
    z-index: 2; /* Coloca o texto acima da sobreposição */
    font-size: 36px; /* Tamanho do texto */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 30px; /* Espaçamento abaixo do título */
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5)); /* Sombra que segue as bordas do ícone */
    font-family: "Kanit", sans-serif;
    
}

/* Cor diferente para "TI" */
.banner h2 span {
    color: #00aaff; /* Cor azul para "TI" */
}

.banner a {
    text-decoration: none; /* Remove o sublinhado */
    color: white;
}

/* Botões dentro da banner */
.banner .buttons {
    position: relative; /* Para garantir que o z-index funcione */
    z-index: 2; /* Coloca os botões acima da sobreposição */
    text-align: center; /* Centraliza os botões */
}

.banner .buttons button {
    background-color: #00aaff; /* Cor de fundo */
    border: none; /* Remove borda padrão */
    color: #f0f0f0; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    margin: 0 10px; /* Espaçamento horizontal entre botões */
    border-radius: 20px; /* Bordas arredondadas */
    cursor: pointer; /* Indica que é clicável */
}

.banner .buttons button:hover {
    background-color: #007acc; /* Cor de fundo ao passar o mouse */
}

/* Container de Experiências */
#experiencias {
    padding: 20px;
    background-color: #333; /* Fundo para contrastar com as barras */
    color: white; /* Cor do texto para contraste */
    margin-bottom: 50px; /* Espaçamento abaixo da seção */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100px;
    
}

/* Container da lista de empresas e detalhes da experiência */
.experiencias-container {
    justify-content: flex-start; /* Alinha os elementos ao início */
    align-items: flex-start; /* Alinha os elementos ao topo */
}

/* Lista de empresas */
.empresa-lista {
    margin-left: 10px;
    display: flex;
    flex-direction: flex; /* Coloca as logos uma acima da outra */
    gap: 100px;
    align-items: flex-start; /* Alinha à esquerda */
    margin-right: 20px; /* Espaçamento à direita das logos */
}

/* logos exp*/
.empresa {
    margin-bottom: 30px; /* Espaço entre logos */
    position: relative; /* Necessário para que o posicionamento absoluto funcione */
    display: inline-block;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Torna a div clicável */
    filter: drop-shadow(0 0 10px rgba(0, 170, 255, 0.5)); /* Sombra que segue as bordas do ícone */
    
}

.empresa img,
.empresa-google img,
#apple img,
#airbnb img {
    width: auto;
    height: 150px; /* Tornando-as quadradas */
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    gap: 10px;
}

/* img da airbnb é diferente*/
#airbnb img {
    width: 100px;
    height: auto;
    margin-top: 25px;
    margin-left: 20px;

}

/* Contêiner do GIF */
.gif-container {
    position: absolute;
    bottom: 0px; /* Ajuste para posicionar abaixo da logo */
    right: 0px; /* Ajuste para posicionar à direita da logo */
    pointer-events: none;
    z-index: 10;
    
}

/* Especificidade máxima */
body div.gif-container img.click-gif {
    width: 45px; 
    height: auto;
    max-width: none;
    max-height: none;
    
}

.empresa img:hover {
    transform: scale(1.1); /* Aumenta a escala da logo ao passar o mouse */

}

/* Detalhes da Experiência (do h2 ate final dos detalhes */
.experiencias {
    position: relative; /* Garante que os elementos filhos possam ser posicionados relativamente a este contêiner */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Detalhes da Experiência */
.detalhes-experiencia {
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
    flex-grow: 1;
    color: black; /* Cor do texto */
    display: flex;
    flex-direction: column; /* Alinha itens em coluna */
    gap: 10px; /* Espaçamento entre itens */
    display: none; /* Inicialmente oculto */
    position: relative; /* Necessário para posicionamento absoluto dos filhos */
    min-height: 230px; /* Altura mínima para garantir espaço para o tempo */
}


/* Estilos da tabela de experiências */
.experiencia-detalhe {
    margin-bottom: 20px;
}

/* paragrafo do experiencia */
#experiencias h2 {
    font-family: "Kanit", sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;

}

.empresa-nome {
    font-size: 24px;
    font-weight: bold;
}

.empresa-cargo {
    font-size: 18px;
    color: #555;
}

.tempo {
    position: absolute;
    bottom: 230px;
    right: 15px;
    color: #555; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
}

.habilidades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta o número de colunas conforme o tamanho da tela */

}

.habilidade-item {
    display: flex;
    align-items: center;
    margin-top: 30px; /* espaçamento */
}

.habilidade-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.habilidade-checkbox.checked {
    background-color: white;
}

.habilidade-checkbox::after {
    content: "X";
    color: #00aaff;
    display: none;
}

.habilidade-checkbox.checked::after {
    display: block;
}

/* espaço SOBRE (foto) */

.sobre {  /* container pai */ 
    display: flex;
    flex-direction: row; /* Garante que os itens fiquem lado a lado */
    align-items: flex-start; /* Alinha os itens ao topo verticalmente */
    justify-content: flex-start; /* Alinha a foto e os títulos à esquerda */
    gap: 10px; /* Espaço entre os elementos */
    width: 100%; /* Ocupa toda a largura da página */
    position: relative; /* Para posicionar os links dentro deste contêiner */
    margin-bottom: 150px;
    margin-top: 100px;
    
}

/* container */
.titulos {
    flex-direction: column; /* Para empilhar o h1 e h2 verticalmente */
    justify-content: center; /* Alinha verticalmente os títulos no centro */
    width: 250%; /* Deixa a titulos ocupar o espaço restante */
    margin-right: 200px;
    display: flex;
    flex-wrap: nowrap;

}

/* O LEON */
.titulos h1 {
    margin: 0; /* Remove margens extras */
    font-size: 64px; /* Ajuste o tamanho da fonte conforme necessário */
    margin-bottom: 20px;
    font-family: "Honk", system-ui;
}

/* backend... */
.titulos h2 {
    margin: 0; /* Remove margens extras */
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    font-family: "Source Code Pro", monospace;
    
   
}

/* Cor diferente para "&" */
.titulos h2 span {
    color: #00aaff; /* Cor azul para "TI" */
}

.links {
    position: absolute; /* Fixa o posicionamento dentro do contêiner */
    right: 0; /* Alinha à direita da página */
    top: 0; /* Alinha ao topo da seção */
    display: flex;
    flex-direction: column; /* Mantém os links empilhados verticalmente */
    align-items: flex-end; /* Alinha os links à direita */
    gap: 20px; /* Espaço entre os links */
    padding: 10px;
}

/* Ajuste no tamanho das imagens dentro de .links */
.links img {
    width: 80px; /* Largura fixa */
    height: 80px; /* Altura fixa */
    object-fit: contain;
    filter: drop-shadow(0 0 10px rgba(0, 170, 255, 0.5)); /* Sombra que segue as bordas do ícone */
}

.text {
    margin-top: 50px;
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    position: relative; /* Para que o GIF seja posicionado em relação a .text */
    width: 250%;
    padding-left: 40px; /* Espaço à esquerda para o GIF */
}

/* gif de digitando...*/
.blink-gif img {
    position: relative; /* Permite posicionar o GIF no início do texto */
    left: 1; /* Alinha o GIF à esquerda do .text */
    width: 80px; /* Tamanho do GIF */
}


/* abas interativas pra habilidades */
#hab-container { 
    background-color: #333;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Permite que os elementos quebrem linha se necessário */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}

/* Estilo para as abas */
.tab-button {
    font-family: "Source Code Pro", monospace;
    border: none;
    width: 197px;
    flex: 1; /* Faz as abas ocuparem o mesmo espaço */
    border-radius: 8px 8px 0px 0px;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: background-color .3s ease;
    text-align: center;
}

/* Estilo para abas ativas */
.tab-button.active {
    background-color: #242323;
}

/* Estilo para o conteúdo das abas */
.tab-content {
    background: #242323;
    padding: 20px;   
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.1);
    gap: 10px; /* Espaçamento entre os elementos */
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
 }



/* barra de carregamento habilidades  */
.skill {
    padding: 10px;
    font-family: "VT323", monospace;
    font-size: 24px;
    margin-bottom: 10px; /* Espaçamento entre as linhas */
    

}

.skill span {
    display: inline-block;
    margin-bottom: 5px;
}

.bar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 200px;
    height: 4px;
    background: white;
    border-radius: 50px;
    
}

.bar::before {
    content: '';
    position: absolute;
    width: var(--percentage);
    height: 100%;
    background: #00aaff;
    transform-origin: left;
    animation: animated-bar 2s linear forwards;
    border-radius: 50px;
}

.bar::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 10px;
    background: #00aaff;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 10px #00aaff;
    animation: animated-dot 2s linear forwards;
}

@keyframes animated-bar {
    0% {
        width: 0;
    }
    100% {
        width: var(--percentage);
    }
}

@keyframes animated-dot {
    0% {
        left: 0;
    }
    100% {
        left: calc(var(--percentage) - 10px);
        box-shadow: 0 0 0 3px #0bec7c22,
        0 0 0 0px #0bec7c22,
        0 0 10px #0b87ec,
        0 0 20px #0bb7ec,
        0 0 30px #0b99ec;
    }
}


/* Geral dos projetos */
/* Estilo geral da seção */
#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    background-color: #242323;
    
}

/* Card de cada projeto */
.project-card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

/* Imagem no topo de cada card */
.project-image {
    min-height: 200px;
    background-size: cover;
    background-position: center;
}

/* Conteúdo do card */
.project-content {
    padding: 15px;
    color: #fff;
    text-align: left;
}

/* Título do projeto */
.project-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Links do GitHub */
.github-link {
    color: #6c63ff;
    text-decoration: none;
}

.github-link:hover {
    text-decoration: underline;
}

/* Descrição do projeto */
.prj-desc {
    font-size: 14px;
    line-height: 1.6;
}


/* Responsividade */
@media (max-width: 768px) {
    .menu a {
        font-size: 10px;
    }


    .buttons button {
        font-size: 14px;
        padding: 8px 15px;
    }

    .empresa-lista {
        gap: 10px;
        justify-content: center;
    }

    .links {
        padding: 10px;
    }

    .foto img {
        max-width: 150px;
    }

    .text {
        font-size: 20px;
        margin-top: 400px;
        width: 300px;
        justify-content: center;
    }

    .titulos {
        margin-top: 200px;
        margin-left: -300px;
    }

    .tabs {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 90px;
    }

    .project-card {
        width: 50%;
        margin-bottom: 20px;
    }

    .project-card .project-image {
        height: 200px;
        background-size: cover;
    }
}
